a:link,
a:visited {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

a:hover,
a:active {
    color: rgb(245, 224, 37);
    font-weight: bold;
}

.Header {
    text-align: center;
    background-color: rgb(73, 119, 64);
    position: relative;
    color: white;
    padding: 5px;
    font-size: 2vw;
}

.Header2 {
    text-align: center;
    background-color: rgb(46, 82, 39);
    position: relative;
    padding: 0.75px;
    font-size: 1.5vmax;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: rgb(248, 255, 235);
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    gap: 5px;
}

.container div {
    background-color: #f1f1f1;
    color: #000000;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.container2 {
    display: grid;
    grid-template-columns: 101.3%;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    gap: 5px;
}

.container2 div {
    background-color: #f1f1f1;
    color: #000000;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.container3 {
    display: grid;

    grid-template-columns: 50% 50%;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    gap: 5px;
}

.container3 div {
    background-color: #f1f1f1;
    color: #000000;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.container23 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    gap: 5px;
}

.container,
.container23 {
    margin-left: 20%;
    margin-right: 20%;

}

.boridygd {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    padding: 1.2%;
    padding-left: 15%;
    padding-right: 15%;
}

.boysotuff {
    border-radius: 10px;
    background-color: rgb(71, 97, 66);
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

footer {
    position: left -5%;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(18, 109, 0);
    color: white;
    text-align: center;
    padding-top: 15px;
}

.bovenFooter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: rgb(46, 82, 39);
    color: white;
    text-align: center;

    img {
        width: 50%;
        height: auto;
        border-radius: 10px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding-left: 20px;
    }

    padding: 1.2%;
    padding-left: 15%;
    padding-right: 15%;
}